### Python Data Types

This tutorial covers the following topics:

* Storing information using variables
* Primitive data types in Python: Integer, Float, Boolean, None and String
* Built-in data structures in Python: List, Tuple and Dictionary
* Methods and operators supported by built-in data types

### Storing information using variables

In [3]:
my_favorite_color = "raspberry"

In [4]:
my_favorite_color

'raspberry'

In [7]:
color_code = '#E30B5C'

In [8]:
color_code

'#E30B5C'

Variable names can be short (a, x, y, etc.) or descriptive ( my_favorite_color, profit_margin, the_3_musketeers, etc.). However, you must follow these rules while naming Python variables:

A variable's name must start with a letter or the underscore character _. It cannot begin with a number.
A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (a-z, A-Z, 0-9, and _).
Variable names are case-sensitive, i.e., a_variable, A_Variable, and A_VARIABLE are all different variables.

In [9]:
a variable = 23

SyntaxError: invalid syntax (605469086.py, line 1)

In [14]:
a_variable = 23

In [10]:
is_today_$aturday = False

SyntaxError: invalid syntax (3433388187.py, line 1)

In [11]:
my-favorite-car = "Volvo"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1615860382.py, line 1)

In [12]:
3_musketeers = ['Athos', 'Porthos', 'Aramis']

SyntaxError: invalid decimal literal (1028151984.py, line 1)

### Built-in data types in Python

Any data or information stored within a Python variable has a type. You can view the type of data stored within a variable using the type function.

In [13]:
type(my_favorite_color)

str

In [15]:
type(a_variable)

int

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

* Integer
* Float
* Boolean
* None
* String
* List
* Tuple
* Dictionary
<br><br>
Integer, float, boolean, None, and string are **primitive data types** because they represent a single value. Other data types like list, tuple, and dictionary are often called **data structures or containers** because they hold multiple pieces of data together.

In [16]:
current_year = 2022

In [17]:
type(current_year)

int

In [18]:
float(current_year)

2022.0

In [19]:
int(current_year)

2022

You can convert floats into integers and vice versa using the float and int functions. The operation of converting one type of value into another is called casting.

Booleans represent one of 2 values: True and False. Booleans have the type bool. Any value in Python can be converted to a Boolean using the bool function.

Only the following values evaluate to False (they are often called *falsy values*):

* The value False itself
* The integer 0
* The float 0.0
* The empty value None
* The empty text ""
* The empty list []
* The empty tuple ()
* The empty dictionary {}
* The empty set set()
* The empty range range(0)
<br><br>Everything else evaluates to True (a value that evaluates to True is often called a *truthy value*).

In [20]:
bool(False)

False

In [21]:
bool(0)

False

In [22]:
type(0)

int

In [23]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

**None**<br>
The None type includes a single value None, used to indicate the absence of a value. None has the type NoneType. It is often used to declare a variable whose value may be assigned later.

In [24]:
nothing = None

In [25]:
type(nothing)

NoneType

A string is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations (either the single quote ' or the double quote "). Strings have the type str. To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [28]:
text = "ove je \"text\" a ovo je novi red \n i tekst u novom redu i dodajem tab \t sa novim tekstom \n novi red i u njemu stampam \\n"

In [32]:
# use """ for multiline strings """
text = """ove je \"text\" a ovo je novi red \n i tekst u novom redu i dodajem tab \t sa novim 
tekstom \n novi red i u njemu stampam \\n"""

In [29]:
print(text)

ove je "text" a ovo je novi red
 i tekst u novom redu i dodajem tab 	 sa novim tekstom
 novi red i u njemu stampam \n